@model UserRolesViewModel

@{
	ViewData["Title"] = "User Roles";
	var items = (List<SelectListItem>)ViewBag.RoleItems;
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/users.css" />

<a asp-area="Admin" asp-controller="User" asp-action="Index" class="btn btn-outline-dark mb-2">Back</a>

<div class="row">
	<div class="col-4">
		<form id="roles" method="post">
			<input type="hidden" name="UserId" value="@Model.UserId" />
			<input type="hidden" name="Name" value="@Model.Name" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating">
				<h3>User: @Html.DisplayFor(m => m.Name)</h3>
			</div>
			<div class="form-floating">
				<div class="form-group">
					<label>User Roles</label>
					<select asp-for="RoleNames" asp-items="@items" class="form-control">
					</select>
				</div>
			</div>
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="col-4">
					<button id="login-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>