@model MuscleGain.Models.Users.LoginViewModel

@{
	ViewData["Title"] = "Login page";
}

<div class="row">
	<div class="col-md-4">
		<form id="loginForm" method="post">
			<h2>Login</h2>
			<hr />
			<input type="hidden" asp-for="ReturnUrl" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-3">Login</button>
		</form>
	</div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial"/>
}
