@model RegisterViewModel

@{
	ViewData["Title"] = "Register";
}

<div class="row">
	<div class="col-md-4 center">
		<form id="registerForm" method="post" type="newForm">
			<h1 align="center">Create a new account.</h1>
			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating">
				<label asp-for="ImageUrl"></label>
				<input asp-for="ImageUrl" class="form-control" autocomplete="firstname" aria-required="true" />
				<span asp-validation-for="ImageUrl" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="PhoneNumber"></label>
				<input asp-for="PhoneNumber" class="form-control" autocomplete="firstname" aria-required="true" />
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>
			<div class="row g-3 mt-2 mb-2">
				<div class="col">
					<input asp-for="FirstName" type="text" class="form-control" placeholder="First name" aria-label="First name">
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>
				<div class="col">
					<input asp-for="LastName" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>
			</div>
			<div class="form-floating">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Example: username@abv.bg..." />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="PasswordRepeat"></label>
				<input asp-for="PasswordRepeat" class="form-control" autocomplete="new-password" aria-required="true" />
				<span asp-validation-for="PasswordRepeat" class="text-danger"></span>
			</div>
			<div class="form-inline">
				Already Registered?<a type="submit" class="btn btn-link" asp-controller="Account" asp-action="Login">Login</a>
			</div>
			<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-3">Register</button>
		</form>
		
		<div class="social-auth-links text-center">
			<a href="#" class="btn btn-block btn-primary">
				<i class="fab fa-facebook mr-2"></i>
				Sign up using Facebook
			</a>
			<a href="#" class="btn btn-block btn-danger">
				<i class="fab fa-google-plus mr-2"></i>
				Sign up using Google+
			</a>
		</div>
	</div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial"/>
}