@model IEnumerable<ProteinCategoryViewModel>

<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-outline-dark mb-2">Back</a>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
	                        <th>Category</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr style="background-color: #add8e6">
	                            <td>@category.Name</td>
                                <td>
                                    <a asp-area="Admin" asp-action="Edit" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-block btn-outline-info btn-xs mb-1">Edit</a>
                                    <form asp-area="Admin" asp-action="Delete" asp-controller="Category" method="post">
                                        <input name="id" type="hidden" value="@category.Id" />
                                        <button type="submit" class="btn btn-block btn-outline-danger btn-xs">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>




<a asp-controller="Category" asp-action="AddCategory">
    <input type="button" class="btn btn-primary" value="Add" />
</a>

<script>

</script>
