html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}
h1 {
    font-family: "Lucida Bright", Georgia, serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
h2 {
    font-family: "Lucida Bright", Georgia, serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 23px;
}


h3 {
    font-family: "Lucida Bright", Georgia, serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: "Lucida Bright", Georgia, serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: "Lucida Bright", Georgia, serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "Lucida Bright", Georgia, serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
.heading-margin {
    margin-top: 20px;
    margin-bottom: 40px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.jumbotron .container h1 {
    text-align: left;
    color: black;
    font-size: 60px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}


.jumbotron .container p {
    font-size: 30px;
    color: gray;
    font-weight: bold;
    text-align: left;
}
