@using Microsoft.AspNetCore.Identity
@using MuscleGain.Infrastructure.Data.Models.Account
@inject SignInManager<ApplicationUser> SignInManager



<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		
		<li class="dropdown-menu">
		<li style="text-align: left"><a type="submit" class="btn btn-outline-info" asp-controller="Home" asp-action="Index">Home Page</a></li>
			<li>
				<a type="submit" class="btn btn-outline-info" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
					Hello @ViewBag.UserFirstName
				</a>
			</li>
		</li>

		<li class="dropdown-menu">
		<li><a type="submit" class="btn btn-outline-info" asp-controller="Account" asp-action="Logout">Logout</a></li>
		</li>
	}
	else
	{
		<li class="dropdown-menu">
		<li style="text-align: left"><a type="submit" class="btn btn-outline-info" asp-controller="Home" asp-action="Index">Home Page</a></li>
		<li><a type="submit" class="btn btn-outline-info " asp-controller="Account" asp-action="Register">Register</a></li>
		<li><a type="submit" class="btn btn-outline-info" asp-controller="Account" asp-action="Login">Login</a></li>
		</li>
	}
</ul>
