@model int
<div class="container row">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Order Submitted Successfully</h1><br />
		<img src="~/img/thank-you.jpg" width="50%" />
	</div>
	<div class="col-12 text-center" style="color:midnightblue">
		<br />
		Thank you for your order! <br />
		We have received your order and we will send a follow up email shortly!
		<br />
		Your Order Number is : @Model
	</div>
</div>